:root{
  --font-family: var(--font-family)
  
}


.container{
  width: 1000px;
  height: auto;
  background-color: white;
  padding: 50px;
  margin: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 20px;
}
body{
  background-color: cadetblue;
}
#parent-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

#parent-container #weather h1{
  font-size: 60px;
  text-align: center;
}

#parent-container #weather .input{
  width: 100%;
  padding :15px;
  border:  1px solid black;
  border-radius: 10px;
  background-color: rgb(199, 198, 198,0.30);
  transition: border-color 0.5s ease;
  font-family: var(--font-family);
}


#parent-container #weather .input:hover {
  border-color:blue;
}
#parent-container #weather #btnseeweather {
  margin : 20px;
  padding :20px;
  width: 300px;
  border: 1px solid black;
  border-radius: 15px;
  font-size:15px;
  font-weight: bold;
  background-color: black;
  color :white;
  transition: 0.3s ease;
  font-family:  var(--font-family);
}

#parent-container #weather #btnseeweather:hover {
  background-color: blue;
}

#parent-container #weather #btnseeweather:hover {
  background-color: blue;
}
#parent-container #weather #resultbox{
  width: 600px;
  height: 300px;
  padding: 20px;
  margin-top: 20px;

  background-color:white;

  border : 1px solid black;
  border-radius: 30px;
  
  flex-direction: column;
  align-items: center;

}
.hidden{
  display: none;
}
#wth {
  text-align: center;
 font-weight: bold;
 font-size: 30px;
}
#resultholder{
font-weight: bold;
color:blue;
text-align: center;
font-size: 100px;
margin: 10px 0;
}
